<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header :: fragment-header"></div>
<div th:fragment="content-view">
	<div id="table"></div>
	<div style="visibility: hidden;" id="dialog">
		<div>Edit Dialog</div>
		<div style="overflow: hidden;">
			<table style="table-layout: fixed; border-style: none;">
				<tr>
					<td align="right">No:</td>
					<td align="left">
						<input id="no" type="text" readonly="true" disabled="disabled" />
					</td>
				</tr>
				<tr>
					<td align="right">Username:</td>
					<td align="left">
						<input type="text" id="username" />
					</td>
				</tr>
				<tr>
					<td align="right">E-mail:</td>
					<td align="left">
						<input type="text" id="email" />
					</td>
				</tr>
				<tr>
					<td align="right">Phone:</td>
					<td align="left">
						<input type="text" id="phone">
					</td>
				</tr>
				<tr>
					<td align="right">Address:</td>
					<td align="left">
						<input type="text" id="address">
					</td>
				</tr>
				<tr>
					<td colspan="3" align="right">
						<br />
						<button id="save">Save</button>
						<button id="delete">Delete</button>
						<button id="cancel">Cancel</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="static/js/table.js"></script>

</div>
</html>
