<!DOCTYPE html>
<html>
<head>
<title id='Description'>Vue Grid DefaultFunctionality</title>
<meta name="description" content="This is an example of the default functionality of Vue Grid." />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../jqwidgets/styles/jqx.base.css" type="text/css" />
<script type="text/javascript" src="../scripts/demos.js"></script>
</head>
<!-- Display the application -->
<body>
	<div class="example-description">This demo illustrates the basic functionality of the Vue Grid plugin. The jQWidgets Grid plugin offers rich support for interacting with data, including paging, grouping and sorting.</div>
	<div id="app"></div>
	<script src="../dist/grid_defaultfunctionality.bundle.js"></script>
</body>
</html>