<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header :: fragment-header"></div>
<div th:fragment="fragment-tree">
		<div id='jqxMenu' style="visibility: hidden;">
<!-- 			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/table">사용자관리</a></li>
				<li><a href="boardTable"></a> 게시판관리</li>
				<li><a href="/editMenu"></a> 메뉴관리
				<li><a href="/groupPage"></a> 조직관리
					<ul>
						<li><a href="#">Menu</a></li>
					</ul></li>
				<li><a href="#">Contact Us</a>
					<ul>
						<li><a href="#">오는 길</a></li>
					</ul></li>
			</ul> -->
		<script type="text/javascript" src="static/js/tree.js"></script>
	</div>
</div>
</html>